:root {
  --crust: #181926;
  --mantle: #1e2030;
  --base: #24273a;
  --surface0: #363a4f;
  --surface1: #494d64;
  --surface2: #5b6078;
  --overlay0: #6e738d;
  --overlay1: #8087a2;
  --overlay2: #939ab7;
  --subtext0: #a5adcb;
  --subtext1: #b8c0e0;
  --text: #cad3f5;
  --lavendar: #b7bdf8;
  --blue: #8aadf4;
  --sapphire: #7dc4e4;
  --sky: #91d7e3;
  --teal: #8bd5ca;
  --green: #a6da95;
  --yellow: #eed49f;
  --peach: #f5a97f;
  --maroon: #ee99a0;
  --red: #ed8796;
  --mauve: #c6a0f6;
  --pink: #f5bde6;
  --flamingo: #f0c6c6;
  --rosewater: #f4dbd6;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--blue);
}

body {
  background-color: var(--base);
  color: var(--text);
}

nav {
  position: sticky;
  top: 0;
  background-color: var(--mantle);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.75rem;
  gap: 1rem;
  margin-top: 1rem;
}

.nav-name {
  display: flex;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-link {
  border-radius: 0.5rem;
  background-color: var(--surface0);
  padding: 0.5rem;
}

.nav-link:hover {
  background-color: var(--surface1);
}

.nav-link:active {
  background-color: var(--surface2);
}

.hero {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.hero-text {
  margin: auto;
  padding: 1rem;
}

#name {
  font-size: 3.5rem;
  color: var(--lavendar);
}

.hero-text > p {
  margin-left: 1rem;
}

.hero-image-container {
  background-color: var(--mantle);
  height: fit-content;
  margin: auto;
  border-radius: 0.5rem;
}

.hero-image {
  padding: 1rem;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: 1rem;
}

.social {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.page {
  background-color: var(--base);
  height: 100vh;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.page-content {
  background-color: var(--crust);
  height: 100%;
  border-radius: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding-left: 0;
}

.project {
  background-color: var(--base);
  border-radius: 0.5rem;
  padding: 1rem;
}

.project:hover {
  background-color: var(--surface0);
  border-radius: 0.5rem;
  cursor: pointer;
}

.project:active {
  background-color: var(--surface0);
  border-radius: 0.5rem;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-extended {
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.5s ease;
}

.project.is-active > .project-extended {
  display: flex;
  flex-direction: column;
  max-height: 1000px;
  visibility: visible;
}

footer {
  display: flex;
  gap: 1rem;
  justify-content: end;
}
