:root {
  --rosewater: #f4dbd6;
  --flamingo: #f0c6c6;
  --pink: #f5bde6;
  --mauve: #c6a0f6;
  --red: #ed8796;
  --maroon: #ee99a0;
  --peach: #f5a97f;
  --yellow: #eed49f;
  --green: #a6da95;
  --teal: #8bd5ca;
  --sky: #91d7e3;
  --sapphire: #7dc4e4;
  --blue: #8aadf4;
  --lavendar: #b7bdf8;
  --text: #cad3f5;
  --subtext1: #b8c0e0;
  --subtext0: #a5adcb;
  --overlay2: #939ab7;
  --overlay1: #8087a2;
  --overlay0: #6e738d;
  --surface2: #5b6078;
  --surface1: #494d64;
  --surface0: #363a4f;
  --base: #24273a;
  --mantle: #1e2030;
  --crust: #181926;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--base);
  color: var(--text);
  box-sizing: border-box;
}

nav {
  display: flex;
  gap: 1rem;
  position: fixed;
  right: 1rem;
}

.nav-item {
  color: var(--subtext1);
  opacity: 50%;
  text-decoration: none;
}

.nav-item:hover {
  color: var(--text);
  opacity: 100%;
  cursor: pointer;
}

.page {
  padding: 0.5rem;
  padding-top: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}


.panel {
  background-color: var(--mantle);
  border-radius: 0.5rem;
  padding: 1rem;
  flex: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 40vh;
}

#work > .panel:nth-child(1) {
  background: linear-gradient(var(--lavendar), var(--blue));
  color: var(--mantle);
}

#work > .panel:nth-child(2) {
  background: linear-gradient(var(--sapphire), var(--sky));
  color: var(--mantle);
}

#work > .panel:nth-child(3) {
  background: linear-gradient(var(--teal), var(--green));
  color: var(--mantle);
}

#about > div:first-child {
  flex: 0 1 100%;
}

.wip-text {
  margin: auto;
}

.socials {
  display: flex;
  gap: 0.5rem;
  justify-content: start;
}

.button {
  text-decoration: none;
  color: var(--text);
  background-color: var(--surface0);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.button:hover {
  background-color: var(--surface2);
}

.project-goto {
  margin-left: auto;
  padding-bottom: 0.5rem;
}


#contact-btn {
  background-color: var(--surface1);
  min-width: fit-content;
}

#contact-btn:hover {
  background-color: var(--lavendar);
  color: var(--crust);
}


