:root {
  --rosewater: #f4dbd6;
  --flamingo: #f0c6c6;
  --pink: #f5bde6;
  --mauve: #c6a0f6;
  --red: #ed8796;
  --maroon: #ee99a0;
  --peach: #f5a97f;
  --yellow: #eed49f;
  --green: #a6da95;
  --teal: #8bd5ca;
  --sky: #91d7e3;
  --sapphire: #7dc4e4;
  --blue: #8aadf4;
  --lavendar: #b7bdf8;
  --text: #cad3f5;
  --subtext1: #b8c0e0;
  --subtext0: #a5adcb;
  --overlay2: #939ab7;
  --overlay1: #8087a2;
  --overlay0: #6e738d;
  --surface2: #5b6078;
  --surface1: #494d64;
  --surface0: #363a4f;
  --base: #24273a;
  --mantle: #1e2030;
  --crust: #181926;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--crust);
  color: var(--text);
  margin: 0;
  box-sizing: border-box;
}

.hero-banner {
  margin: 1rem;
  padding: 2rem;
  max-width: 80vw;
}

.page {
  background-color: var(--base);
  border-top: 2px solid var(--mantle);
  padding: 1rem;
}

.button {
  background-color: var(--surface0);
  border: 1px solid var(--surface1);
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--text);
  text-decoration: none;
}

.button:hover {
  background-color: var(--surface1);
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.panel {
  background-color: var(--surface0);
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.slider-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.slider {
  background-color: var(--surface1);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.slider-fill {
  border-radius: 0.5rem;
  color: var(--base);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.slider-percent {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tool {
  display: flex;
}

#tool-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#html-slider {
  background-color: var(--sky);
  width: 80%;
}

#js-slider {
  background-color: var(--sapphire);
  width: 70%;
}

#lua-slider {
  background-color: var(--teal);
  width: 60%;
}

#about-panel {
  width: 100%;
}

#experience-panel {
  min-width: fit-content;
  flex-grow: 1;
}

#intro-name {
  display: flex;
  flex-direction: column;
}

#intro-name > p, h1 {
  margin: 0;
}

#hero-banner-name-wrapper {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  align-items: center;
}

#Stilian {
  font-size: 2rem;
  color: var(--lavendar);
}

#hero-banner-subtext {
  padding-left: 2rem;
}

#btn-wrapper {
  display: flex;
  padding-top: 1rem;
  padding-left: 1rem;
}

