@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "JetBrains Mono", monospace;
  /* background-color: #1e1e2e; */
  /* color: #cdd6f4; */

  scroll-behavior: smooth;
}

.subtext {
  font-size: 1.5rem;
}

a:hover {
  color: #89b4fa;
}

button {
  border: 1px solid black;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

footer {
  position: fixed;
  bottom: 0;
}
